<div class="contact_page">
  <div class="container">
	  <br><br><br><br>
    



    <div class="investor_form col-lg-8">
    <h2>Contact</h2>

	  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br>
    

   </div>
  </div>
</div>