<div class="index_land">
<br><br><br><br>
  <div class="landing_page_logo col-lg-6 col-md-6">
  <%= image_tag('bloom_logo_with_slogan.png', height:'200px')%>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
<div class="container">
	<br><br><br>
  <div class="about col-lg-12 col-md-12 col-sm-12">
We are committed to helping local entrepreneurs build excellent companies in Thunder Bay and Northern Ontario. 
	
  </div>
</div>

<br><br><br>

 <div class="entrep">
	 <div class="container">
	<br><br><br><br><br>
	<div class="col-lg-8 col-md-6">
	<h3>For Entrepreneurs and Startups:</h3>
	<p>Connect with local Angel investors to find the capital you need to grow your company.</p>
	<p>Refine your business model and get valuable insight from experienced professionals.</p>
	<p>Find the partners you need to keep your business thiriving. </p>
	<br><br>
	<div class="enter_button">
	<%= button_to "join bloom", entreps_home_path,
	      :class => "btn btn-lg btn-primary", :method => :get %>
   <br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
 </div>
</div>
		  
	

<div class="invest">
	<div class="container">
		<br><br><br><br><br>
	<div class="row">
	<div class="col-lg-6 col-md-6">
	<h3>For Investors:</h3>
	<p>Find your next local investment opportunity.</p>
	<p>Connect with motivated entrepreneurs and exciting start-up companies.</p>
	<p>Assist in the growth of Thunder Bay and Northern Ontario's economy.</p>
	
	<br><br>
	<div class="enter_button">
	<%= button_to "join bloom", investors_home_path,
	      :class => "btn btn-lg btn-primary", :method => :get %>
		  <br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<div class="col-lg-6 col-md-6">
	
	</div>
   </div>
</div>
  </div>
</div>
</div>





