<div class="container">
<h1 style="text-align:center">Our Mission</h1>

<p>
	Private investment is one of the most effective ways at growing the economy. Moreover, regionally strong economics is vital for today's societies to thrive. As such, we have launched SpringVentures with a goal to contribute to the economic growth and business generation of Thunder Bay. 
	
</p>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

</div>