<div class="entrep_thank_you">
<div class="container">

<br><br><br>
<%= image_tag('bloom_bitmap.png', height:'100px')%>
<br><br>
<div class="entrep_title">
	<h2>Thank You!</h2>
</div>

<br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>



</div>
</div>